doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Админка Express.js

        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='/main.css' type='text/css')
        link(rel="icon" type="image/png" href="/img/favicon.png")
        script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
        script(src="/main.js" defer type="module")
    body
        div.wrapper
            nav.navbar.navbar-default.navbar-static-top
                .container
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
                            span.sr-only Раскрыть
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/') Административная панель
                    #navbar.navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li(class=(title == 'Main') ? 'active' : null)
                                a(href='/') Пользователи
                        ul.nav.navbar-nav.navbar-right
                            if user
                                li.dropdown
                                    a.navbar-avatar.dropdown-toggle(href='#' data-toggle='dropdown')
                                        span #{user.name || user.email} &nbsp;
                                        i.caret
                                    ul.dropdown-menu
                                        //- li
                                        //-     a(href='/profile') Profile
                                        //- li.divider(role='separator')
                                        li
                                            a#logoutBtn(href='#') Выйти
                            else
                                li(class=(title == 'Auth') ? 'active' : null)
                                    a(href='/login') Авторизация

            .container
                section.d-flex.align-items-center

                    .general-controls-block
                        .card
                            .card-header Основное управление
                            .card-body
                                button.createUser.btn.btn-primary Создать пользователя

                    if usersList
                        table#userTableList.table.table-striped
                            thead
                                tr
                                    th(scope="col") #
                                    th(scope="col") Имя
                                    th(scope="col") Возраст
                                    th.actionTh(scope="col") Действия
                            tbody
                                each userItem in usersList
                                    tr(data-userid= userItem['id'])
                                        th(scope="row")= userItem['id']
                                        td.userNameTd= userItem['name']
                                        td.userAgeTd= userItem['age']
                                        td
                                            .actions-wrapper
                                                button.table-action-btn.edit-btn(data-userid= userItem['id'] data-opcode="101" title="Редактировать")
                                                    <svg width="25" aria-hidden="true" focusable="false" data-prefix="far" data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path></svg>
                                                button.table-action-btn.delete-btn(data-userid= userItem['id'] data-opcode="103" title="Удалить")
                                                    <svg width="20" aria-hidden="true" focusable="false" data-prefix="far" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"></path></svg>
                                                button.table-action-btn.token-list(data-userid= userItem['id'] data-opcode="105" title="Список токенов")
                                                    <svg width="20" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="list" class="svg-inline--fa fa-list fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M80 368H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm0-320H16A16 16 0 0 0 0 64v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16V64a16 16 0 0 0-16-16zm0 160H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm416 176H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"></path></svg>

                    //- Create user form
                    include ./components/create_user_form.pug
                    include ./components/edit_user_form.pug
                    include ./components/user_token_list.pug
                    include ./components/custom_alert.pug


        .footer
            .container
                .footer-body
                    .left-footer
                        p © Robot Dreams
                    .right-footer
                        p 2021
